/* Universal-styles */


/* Header-styles */

header{
    height: 48px;
}

/* Nav-styles */

nav{
    width: 78%;
}

/* Main-styles */

main{
    display: flex;
    justify-content: center;
}

/* Product-Slide-Section */

#product-slides{
    height: 455px;
    width: 78%;
    border: black solid;
    position: absolute;
    top: 160px;
    background-color: rgba(254, 234, 233, 1);
}

.pink-text{
    color: rgba(255, 19, 111, 1);
}