/* Universal-styles */


/* Header-styles */

header{
    height: 58px;
}

/* Nav-styles */

nav{
    width: 73%;
}

/* Main-styles */

main{
    display: flex;
    justify-content: center;
}

/* Product-Slide-Section */

#product-slides{
    width: 73%;
    border-radius: 15px;
    position: absolute;
    top: 160px;
    background-color: rgba(254, 234, 233, 1);
    padding-left: 46px;
    padding-right: 46px;
}


.pink-text{
    color: rgba(255, 19, 111, 1);
}

.pink-button{
    width: 168px;
    height: 52px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
}