/* Universal-styles */

/* Header-styles */

header{
    height: 58px;
}

/* Nav-styles */

nav{
    width: 73%;
}

/* Main-styles */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Product-Slide-Section */

#product-slides{
    width: 73%;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 15px;
    background-color: rgba(254, 234, 233, 1);
    padding-left: 46px;
    padding-right: 46px;
}

/*Product-Types-Section*/

#product-types{
    width: 73%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.product-type{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 49px;
    padding-right: 49px;
}

.product-type img{
    height: 6.5em;
}

#watch{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    height: 120px;
}

#bag{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    height: 120px;
    margin-left: 26px;
    margin-right: 26px;
}

#shoes{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    height: 120px;
}

/* Products-Section */

#products-section{
    width: 73%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.product-card{
    padding: 0;
}

.pink-text{
    color: rgba(255, 19, 111, 1);
}

.pink-button{
    width: 168px;
    height: 52px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
}